@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "SovietFont";
  font-display: swap;
  src: url("../fonts/Soviet-Font.ttf");
}

@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "TTCommonsTrial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial/TT-Commons-Trial-Regular.otf");
}

@font-face {
  font-style: normal;
  font-weight: 700;
  font-family: "TTCommonsTrial";
  font-display: swap;
  src: url("../fonts/TT-Commons-Trial/TT-Commons-Trial-Bold-Italic.otf");
}
